<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://blobimagenes.blob.core.windows.net/images/pagina%20web%2021.JPG?sp=r&st=2021-05-17T22:42:16Z&se=2021-05-18T06:42:16Z&spr=https&sv=2020-02-10&sr=b&sig=xrViiibfVKsxL5iovSm4cv33w30G8FZK1%2F8clTiShBA%3D" alt="Lucero sasy Hey!">
    <p>Practica de Lab4</p>
  </body>
</html>

